@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-main {
  --color-primary: 117 37 164;
  --color-danger: 255 10 84;
  --color-success: 0 197 105;
  --color-info: 13 117 248;
  --color-warning: 254 225 46;
}

/* 
 * Rubik
 */

@font-face {
  font-family: "RubikMedium";
  src: url("../fonts/Rubik-Medium.ttf");
}

@font-face {
  font-family: "RubikLight";
  src: url("../fonts/Rubik-Light.ttf");
}

@font-face {
  font-family: "RubikSemiBold";
  src: url("../fonts/Rubik-SemiBold.ttf");
}

@font-face {
  font-family: "RubikBold";
  src: url("../fonts/Rubik-Bold.ttf");
}

@font-face {
  font-family: "RubikRegular";
  src: url("../fonts/Rubik-Regular.ttf");
}