@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-main {
  --color-primary: 117 37 164;
  --color-danger: 255 10 84;
  --color-success: 0 197 105;
  --color-info: 13 117 248;
  --color-warning: 254 225 46;
}

/* 
 * Nunito
 */

 @font-face {
  font-family: "NunitoMedium";
  src: url("../fonts/Nunito-Medium.ttf");
}

@font-face {
  font-family: "NunitoLight";
  src: url("../fonts/Nunito-Light.ttf");
}

@font-face {
  font-family: "NunitoSemiBold";
  src: url("../fonts/Nunito-SemiBold.ttf");
}

@font-face {
  font-family: "NunitoBold";
  src: url("../fonts/Nunito-Bold.ttf");
}

@font-face {
  font-family: "NunitoRegular";
  src: url("../fonts/Nunito-Regular.ttf");
}